_build
.settings
.vscode
Absyn.o
Lexer.o
Parser.o
Printer.o
Test.o
Testfifth
Absyn.C.bak
Absyn.H.bak
fifth.y.bak
Parser.H.bak
Printer.C.bak
Printer.H.bak
Skeleton.C.bak
Skeleton.H.bak
*.o
build
old.Makefile
